
  <div class="card w-25 mt-5 mx-auto">
    <div class="card-body">
      <h5 class="card-title">Device-name: {{this.golvlampa.name}} </h5>
      <p class="card-text">Manifacturer: {{this.golvlampa.manifacturer}}</p>
      <p class="card-text">Model name: <br>{{this.golvlampa.deviceName}}</p>
      <p class="card-text">Firmware version: {{this.golvlampa.firmwareVersion}}</p>
      <p class="card-text">Current brightness: {{this.golvlampa.brightness}}</p>
      <p *ngIf="this.status">Lampan är <b>tänd</b></p>
      <p *ngIf="!this.status">Lampan är <b>släckt</b></p>
      
      <div (click)="switchState()" class="form-check form-switch">
        <label *ngIf="!this.status" class="form-check-label" for="flexSwitchCheckChecked">Tänd golvlampa</label>
        <label *ngIf="this.status" class="form-check-label" for="flexSwitchCheckChecked">Släck golvlampa</label>
        <input *ngIf="!this.status"class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" >
        <input *ngIf="this.status" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
      </div>

      <div class="input-group mb-3 mt-3">
        <input [(ngModel)]="brightness" type="text" class="form-control" placeholder="Skriv in önskad ljusstyrka">
        <div class="input-group-append">
          <button (click)="changeBrightness()" class="btn btn-outline-primary" type="button">Ändra ljusstyrka</button>
        </div>
      </div>

    </div>
    

